/* basic coding, skiping sass/less '*/
body { font-family: Arial; color: #ccc; background: #1c2a2d; }
body * { position: relative; }
.app { margin: 0 auto; width: 90vw; }
.open-file { display: flex; align-items: center; }
.open-file>div { display: flex-cell; padding: 10px; }
.open-file p { padding: 2px; margin: 0; font-size: 12px; }
.open-file button { border-radius: 4px; padding: 10px; }
.open-file [type="file"] { display: none; }
.open-file [class^="file-"] { color: #26cc3c; }
.open-file [class^="file-"]:empty:after { content: 'Unknow'; color: rgba(200,200,200,.5); }

.map { height: 400px; border: #000 dotted 1px; background: #efe5dc; }
.altimetry-chart { margin-top: 20px; height: 200px; }
.altimetry-chart canvas { background: rgba(255,255,255, .8); width: 100%; max-height: 200px; }

.loading .map {  cursor: wait; }
.loading button { color: transparent; cursor: wait; opacity: .57 }
.loading button:before { 
  content: 'Loading...'; 
  position: absolute; 
  left: 50%;
  top: 50%;
  color: #000; 
  transform: translate(-50%, -50%);
}